In [ ]:
import numpy as np
import pandas as pd

contract= pd.read_excel ('Resultat de creation en masse 20-05.xlsx')
contract.info()
contract.head()
contract

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Numero Adherent         177 non-null    object
 1   Assureur                177 non-null    object
 2   Apporteur d affaire     177 non-null    object
 3   Gamme                   177 non-null    object
 4   ANI                     177 non-null    object
 5   Date de souscription    177 non-null    object
 6   Date effective          177 non-null    object
 7   Mode de fractionnement  177 non-null    object
 8   Jour de prélèvement     177 non-null    int64
 9   Assurés                 177 non-null    object
 10  Options Gammes          177 non-null    object
 11  Numero Conjoint         10 non-null     object
 12  Numero enfant 1         15 non-null     object
 13  Numero enfant 2         13 non-null     object
 14  Numero enfant 3         5 non-null      object
 15  Bloc parametrage        0 non-null      float64
 16  Lien du contrat         177 non-null    object
 17  Emplacement du bloc     0 non-null      float64
 18  Creation avec Succes ?  177 non-null    object
 19  Mode                    152 non-null    object
 20  Numero contrat          177 non-null    object
 21  Nom adherent            177 non-null    object
dtypes: float64(2), int64(1), object(19)
memory usage: 30.5+ KB

,Numero Adherent,Assureur,Apporteur d affaire,Gamme,ANI,Date de souscription,Date effective,Mode de fractionnement,Jour de prélèvement,Assurés,...,Numero enfant 1,Numero enfant 2,Numero enfant 3,Bloc parametrage,Lien du contrat,Emplacement du bloc,Creation avec Succes ?,Mode,Numero contrat,Nom adherent
0,A103681,MMC (Mutuelle),T001 - COURTIER TEST 1 (courtier),A16P03 GEODE DEPENDANCE,ANI,6/1/2018,1/2/2018,Mensuel,5,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5380/,NaN,Scenario Valide,Mode A,C10005130 - V1,Mikayla ROBOT
1,A103682,Mutuelle Mutest (Mutuelle),T001 - COURTIER TEST 1 (courtier),A16P03 GEODE DEPENDANCE,ANI,6/1/2019,1/2/2019,Mensuel,8,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5381/,NaN,Scenario Valide,Mode A,C10005131 - V1,Crystal ROBOT
2,A104230,MMC (Mutuelle),13112020 - COURTIER 13112020,A16P03 GEODE DEPENDANCE,ANI,14/7/2020,1/8/2020,Mensuel,5,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5382/,NaN,Scenario Valide,Mode A,C10005132 - V1,William ROBOT
3,A104227,Mutuelle Mutest (Mutuelle),13112020 - COURTIER 13112020,A16P03 GEODE DEPENDANCE,ANI,14/7/2021,1/8/2021,Mensuel,8,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5383/,NaN,Scenario Valide,Mode A,C10005133 - V1,Robert ROBOT
4,A104228,MMC (Mutuelle),T001 - COURTIER TEST 1 (courtier),A16P03 GEODE DEPENDANCE,ANI,23/5/2018,1/6/2018,Mensuel,5,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5384/,NaN,Scenario Valide,Mode A,C10005134 - V1,Ronnie ROBOT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,A104419,Mutuelle Mutest (Mutuelle),T001 - COURTIER TEST 1 (courtier),A16P04 GEODE OBSEQUES,ANI,23/09/2018,01/10/2018,Mensuel,5,souscripteur seul,...,NaN,NaN,NaN,NaN,10.66.66.5:8000/contract/5651/,NaN,Scenario Valide,Mode G,C10005401 - V1,Sophia ROBOT
173,A104401,MMC (Mutuelle),T001 - COURTIER TEST 1 (courtier),A16P05 MPPH,ANI,06/01/2018,01/02/2018,Mensuel,5,souscripteur seul + Conjoint + 2 enfants,...,A104269,A104345,NaN,NaN,10.66.66.5:8000/contract/5652/,NaN,Scenario Valide,Mode H,C10005402 - V1,Benjamin ROBOT
174,A104408,Mutuelle Mutest (Mutuelle),13112020 - COURTIER 13112020,A16P05 MPPH,ANI,25/05/2019,15/06/2019,Mensuel,5,souscripteur seul + 2 enfants,...,A104263,A104329,NaN,NaN,10.66.66.5:8000/contract/5653/,NaN,Scenario Valide,Mode H,C10005403 - V1,Russell ROBOT
175,A104403,Mutuelle Mutest (Mutuelle),13112020 - COURTIER 13112020,A19S03-20 CIRCE 2 PERFORMANCE 100% SANTE DEFENSE,ANI,25/03/2018,15/05/2018,Mensuel,5,souscripteur seul + Conjoint + 2 enfants,...,A103708,A103709,NaN,NaN,10.66.66.5:8000/contract/5654/,NaN,Scenario Valide,Mode I,C10005404 - V1,Robert ROBOT
176,A104404,Mutuelle Mutest (Mutuelle),13112020 - COURTIER 13112020,A19S03-20 CIRCE 2 PERFORMANCE 100% SANTE DEFENSE,ANI,06/01/2019,01/02/2019,Mensuel,5,souscripteur seul + 3 enfants,...,A103704,A103700,A103698,NaN,10.66.66.5:8000/contract/5655/,NaN,Scenario Valide,Mode I,C10005405 - V1,Carrie ROBOT

In [ ]:

test= pd.read_excel ('TEST CHAINE CONTENTIEUX - Copie (1).xlsx')
test.info()
test.head()
test

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Transition                  87 non-null     object
 1   Calendrier                  87 non-null     object
 2   Jours de prelevement        87 non-null     int64
 3   Lancer prelevement?         81 non-null     object
 4   Contrat                     0 non-null      float64
 5   Balance avant               0 non-null      float64
 6   retour de paiement          0 non-null      float64
 7   date du retour de paiement  0 non-null      float64
 8   Raison de retour            0 non-null      float64
 9   Balance apres               0 non-null      float64
 10  Statut dossier              0 non-null      float64
 11  nbr de rejet                0 non-null      float64
 12  Statut contrat              0 non-null      float64
 13  date dernier rejet          0 non-null      float64
 14  date de suspention          0 non-null      float64
 15  date de résiliation         0 non-null      float64
 16  Validité                    0 non-null      float64
dtypes: float64(13), int64(1), object(3)
memory usage: 11.7+ KB

,Transition,Calendrier,Jours de prelevement,Lancer prelevement?,Contrat,Balance avant,retour de paiement,date du retour de paiement,Raison de retour,Balance apres,Statut dossier,nbr de rejet,Statut contrat,date dernier rejet,date de suspention,date de résiliation,Validité
0,Oui,Juillet/2019,5,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Non,Juillet/2019,5,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Non,Juillet/2019,8,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oui,Août/2019,5,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Non,Août/2019,8,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Non,Avril/2022,5,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Oui,Mai/2022,8,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Non,Mai/2022,5,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Non,Mai/2022,8,Non,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Oui,Juin/2022,5,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
"""import calendar
m=[calendar.month_name[i] for i in range(1,12)]
m"""
m=[' ','janvier','février','mars','avril','mai','juin','juillet','août','septembre','octobre',
   'novembre','décembre']
m

[' ',
 'janvier',
 'février',
 'mars',
 'avril',
 'mai',
 'juin',
 'juillet',
 'août',
 'septembre',
 'octobre',
 'novembre',
 'décembre']

In [ ]:
for i in range(13):
  m[i]=m[i].upper()
m

[' ',
 'JANVIER',
 'FÉVRIER',
 'MARS',
 'AVRIL',
 'MAI',
 'JUIN',
 'JUILLET',
 'AOÛT',
 'SEPTEMBRE',
 'OCTOBRE',
 'NOVEMBRE',
 'DÉCEMBRE']

In [ ]:
#"id "
ids = contract['Lien du contrat'].str.split('/').str[2]
print(ids)

0      5380
1      5381
2      5382
3      5383
4      5384
       ...
172    5651
173    5652
174    5653
175    5654
176    5655
Name: Lien du contrat, Length: 177, dtype: object

In [ ]:
#date
month=test['Calendrier'].str.split('/').str[0]

print(month)

0     Juillet
1     Juillet
2     Juillet
3        Août
4        Août
       ...
82      Avril
83        Mai
84        Mai
85        Mai
86       Juin
Name: Calendrier, Length: 87, dtype: object

In [ ]:
contract_test=contract.loc[:,['Date effective','Jour de prélèvement']]
contract_test

    Date effective  Jour de prélèvement
0         1/2/2018                    5
1         1/2/2019                    8
2         1/8/2020                    5
3         1/8/2021                    8
4         1/6/2018                    5
..             ...                  ...
172     01/10/2018                    5
173     01/02/2018                    5
174     15/06/2019                    5
175     15/05/2018                    5
176     01/02/2019                    5

[177 rows x 2 columns]

In [ ]:
contract_test['ids']=ids
contract_test

    Date effective  Jour de prélèvement   ids
0         1/2/2018                    5  5380
1         1/2/2019                    8  5381
2         1/8/2020                    5  5382
3         1/8/2021                    8  5383
4         1/6/2018                    5  5384
..             ...                  ...   ...
172     01/10/2018                    5  5651
173     01/02/2018                    5  5652
174     15/06/2019                    5  5653
175     15/05/2018                    5  5654
176     01/02/2019                    5  5655

[177 rows x 3 columns]

In [ ]:
contract_test['Date effective']=pd.to_datetime(contract_test['Date effective'])
contract_test['year']= contract_test['Date effective'].dt.year
contract_test['month']= contract_test['Date effective'].dt.month
contract_test['day']= contract_test['Date effective'].dt.day
contract_test.head()
contract_test

    Date effective  Jour de prélèvement   ids  year  month  day
0       2018-01-02                    5  5380  2018      1    2
1       2019-01-02                    8  5381  2019      1    2
2       2020-01-08                    5  5382  2020      1    8
3       2021-01-08                    8  5383  2021      1    8
4       2018-01-06                    5  5384  2018      1    6
..             ...                  ...   ...   ...    ...  ...
172     2018-01-10                    5  5651  2018      1   10
173     2018-01-02                    5  5652  2018      1    2
174     2019-06-15                    5  5653  2019      6   15
175     2018-05-15                    5  5654  2018      5   15
176     2019-01-02                    5  5655  2019      1    2

[177 rows x 6 columns]

In [ ]:
chaine_test=test.loc[:,['Jours de prelevement','Calendrier']]
chaine_test['month']=month
#print(chaine_test)
chaine_test['month']=chaine_test['month'].str.upper()
print(chaine_test)
chaine_test.loc[(chaine_test['month']=='JANVIER'), 'month']=1
chaine_test.loc[(chaine_test['month']=='FÉVRIER'), 'month']=2
chaine_test.loc[(chaine_test['month']=='MARS'), 'month']=3
chaine_test.loc[(chaine_test['month']=='AVRIL'), 'month']=4
chaine_test.loc[(chaine_test['month']=='MAI'), 'month']=5
chaine_test.loc[(chaine_test['month']=='JUIN'), 'month']=6
chaine_test.loc[(chaine_test['month']=='JUILLET'), 'month']=7
chaine_test.loc[(chaine_test['month']=='AOÛT'), 'month']=8
chaine_test.loc[(chaine_test['month']=='SEPTEMBRE'), 'month']=9
chaine_test.loc[(chaine_test['month']=='OCTOBRE'), 'month']=10
chaine_test.loc[(chaine_test['month']=='NOVEMBRE'), 'month']=11
chaine_test.loc[(chaine_test['month']=='DÉCEMBRE'), 'month']=12
chaine_test

    Jours de prelevement    Calendrier    month
0                      5  Juillet/2019  JUILLET
1                      5  Juillet/2019  JUILLET
2                      8  Juillet/2019  JUILLET
3                      5     Août/2019     AOÛT
4                      8     Août/2019     AOÛT
..                   ...           ...      ...
82                     5    Avril/2022    AVRIL
83                     8      Mai/2022      MAI
84                     5      Mai/2022      MAI
85                     8      Mai/2022      MAI
86                     5     Juin/2022     JUIN

[87 rows x 3 columns]

    Jours de prelevement    Calendrier month
0                      5  Juillet/2019     7
1                      5  Juillet/2019     7
2                      8  Juillet/2019     7
3                      5     Août/2019     8
4                      8     Août/2019     8
..                   ...           ...   ...
82                     5    Avril/2022     4
83                     8      Mai/2022     5
84                     5      Mai/2022     5
85                     8      Mai/2022     5
86                     5     Juin/2022     6

[87 rows x 3 columns]

In [ ]:
#years
year = chaine_test['Calendrier'].str.split('/').str[1]
chaine_test['year']=year
chaine_test['contrat']=None
chaine_test.head()
chaine_test

    Jours de prelevement    Calendrier month  year contrat
0                      5  Juillet/2019     7  2019    None
1                      5  Juillet/2019     7  2019    None
2                      8  Juillet/2019     7  2019    None
3                      5     Août/2019     8  2019    None
4                      8     Août/2019     8  2019    None
..                   ...           ...   ...   ...     ...
82                     5    Avril/2022     4  2022    None
83                     8      Mai/2022     5  2022    None
84                     5      Mai/2022     5  2022    None
85                     8      Mai/2022     5  2022    None
86                     5     Juin/2022     6  2022    None

[87 rows x 5 columns]

In [ ]:
chaine_test["contrat"].value_counts()

Series([], Name: contrat, dtype: int64)

In [ ]:
for i in range(len(chaine_test)):
  j=0
  print(i)
  contract_test=contract_test.reset_index(drop=True)
  while j!= len(contract_test)-1:
    j=j+1
    if int(chaine_test['month'].iloc[i])==int(contract_test['month'].iloc[j]) and int(chaine_test['year'].iloc[i])>=int(contract_test['year'].iloc[j]) and int(chaine_test['Jours de prelevement'].iloc[i])==int(contract_test['Jour de prélèvement'].iloc[j]):
      chaine_test['contrat'].iloc[i]=contract_test['ids'].iloc[j]
      contract_test=contract_test.drop(index=j)
      break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86

In [ ]:
chaine_test

    Jours de prelevement    Calendrier month  year contrat
0                      5  Juillet/2019     7  2019    None
1                      5  Juillet/2019     7  2019    None
2                      8  Juillet/2019     7  2019    None
3                      5     Août/2019     8  2019    5451
4                      8     Août/2019     8  2019    None
..                   ...           ...   ...   ...     ...
82                     5    Avril/2022     4  2022    5482
83                     8      Mai/2022     5  2022    None
84                     5      Mai/2022     5  2022    5446
85                     8      Mai/2022     5  2022    None
86                     5     Juin/2022     6  2022    5504

[87 rows x 5 columns]

In [ ]:
chaine_test["contrat"].value_counts()

5451    1
5405    1
5446    1
5482    1
5440    1
5437    1
5385    1
5392    1
5391    1
5390    1
5387    1
5386    1
5398    1
5401    1
5442    1
5481    1
5465    1
5441    1
5388    1
5383    1
5384    1
5494    1
5402    1
5439    1
5438    1
5479    1
5382    1
5381    1
5403    1
5399    1
5493    1
5504    1
Name: contrat, dtype: int64

In [ ]:
len(contract_test)

145

In [ ]:
chaine_test.head(86)

    Jours de prelevement    Calendrier month  year contrat
0                      5  Juillet/2019     7  2019    None
1                      5  Juillet/2019     7  2019    None
2                      8  Juillet/2019     7  2019    None
3                      5     Août/2019     8  2019    5451
4                      8     Août/2019     8  2019    None
..                   ...           ...   ...   ...     ...
81                     5    Avril/2022     4  2022    5440
82                     5    Avril/2022     4  2022    5482
83                     8      Mai/2022     5  2022    None
84                     5      Mai/2022     5  2022    5446
85                     8      Mai/2022     5  2022    None

[86 rows x 5 columns]

In [ ]:
for i in range(len(chaine_test)):
  j=0
  print(i)
  contract_test=contract_test.reset_index(drop=True)
  while j!= len(contract_test)-1:
    j=j+1
    if int(chaine_test['editmonth'].iloc[i])==int(contract_test['month'].iloc[j]) :
      if int(chaine_test['year1'].iloc[i])>=int(contract_test['year'].iloc[j]) :
        if int(chaine_test['Jours de prelevement'].iloc[i])==int(contract_test['Jour de prélèvement'].iloc[j]):
          chaine_test['contrat'].iloc[i]=contract_test['ids'].iloc[j]
          contract_test=contract_test.drop(index=j)
          break

0

KeyError: ignored

In [ ]:
chaine_test

    Jours de prelevement    Calendrier month  year contrat
0                      5  Juillet/2019     7  2019    None
1                      5  Juillet/2019     7  2019    None
2                      8  Juillet/2019     7  2019    None
3                      5     Août/2019     8  2019    5451
4                      8     Août/2019     8  2019    None
..                   ...           ...   ...   ...     ...
82                     5    Avril/2022     4  2022    5482
83                     8      Mai/2022     5  2022    None
84                     5      Mai/2022     5  2022    5446
85                     8      Mai/2022     5  2022    None
86                     5     Juin/2022     6  2022    5504

[87 rows x 5 columns]

In [ ]:
for i in range(len(chaine_test)):
  if (chaine_test['editmonth'].iloc[i]==7):
    j=0
    while j!=len(contract_test):
      j=j+1
      if (contract_test['month'].iloc[j]==7):
        if int(chaine_test['year1'].iloc[i])==int(contract_test['year'].iloc[j]):
          if int(chaine_test['Jours de prelevement'].iloc[i])==int(contract_test['Jour de prélèvement'].iloc[j]):
             chaine_test['contrat'].iloc[i]=contract_test['ids'].iloc[j]
             contract_test.drop(index=j)
             contract_test.reset_index()
        j=0

KeyboardInterrupt: ignored

In [ ]:
chaine_test

    Jours de prelevement    Calendrier month  year contrat
0                      5  Juillet/2019     7  2019    None
1                      5  Juillet/2019     7  2019    None
2                      8  Juillet/2019     7  2019    None
3                      5     Août/2019     8  2019    5451
4                      8     Août/2019     8  2019    None
..                   ...           ...   ...   ...     ...
82                     5    Avril/2022     4  2022    5482
83                     8      Mai/2022     5  2022    None
84                     5      Mai/2022     5  2022    5446
85                     8      Mai/2022     5  2022    None
86                     5     Juin/2022     6  2022    5504

[87 rows x 5 columns]

In [ ]:
#for i in range(len(chaine_test)):
 # while j!= len(contrat_test):
  #  j=j+1
   # if (int(chaine_test['year1'].iloc[i])==int(contrat_test['year'].iloc[j])) && (int(chaine_test['editmonth'].iloc[i])>=int(contract_test['month'].iloc[j])) && (int(chaine_test['Jours de prelevement'].iloc[i])==int(contract_test['Jour de prélèvement'].iloc[j])):
    #  chaine_test['contrat'].iloc[i]=contract_test['ids'].iloc[j]
    #  contract_test.drop(index=j)
     # contrat_test.reset_index()

5

In [ ]:
chaine_test['retour de paiement']=None
chaine_test.head(86)

    Jours de prelevement    Calendrier month  year contrat retour de paiement
0                      5  Juillet/2019     7  2019    None               None
1                      5  Juillet/2019     7  2019    None               None
2                      8  Juillet/2019     7  2019    None               None
3                      5     Août/2019     8  2019    5451               None
4                      8     Août/2019     8  2019    None               None
..                   ...           ...   ...   ...     ...                ...
81                     5    Avril/2022     4  2022    5440               None
82                     5    Avril/2022     4  2022    5482               None
83                     8      Mai/2022     5  2022    None               None
84                     5      Mai/2022     5  2022    5446               None
85                     8      Mai/2022     5  2022    None               None

[86 rows x 6 columns]

In [ ]:
#chaine_test.loc[(chaine_test['contrat'] !=Nan ), 'retour de paiement']='Oui'

NameError: ignored

In [ ]:
for i in range(len(chaine_test)):
  if (chaine_test['contrat'].iloc[i])!=None:
    chaine_test['retour de paiement'].iloc[i]='Oui'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
chaine_test

    Jours de prelevement    Calendrier month  year contrat retour de paiement
0                      5  Juillet/2019     7  2019    None               None
1                      5  Juillet/2019     7  2019    None               None
2                      8  Juillet/2019     7  2019    None               None
3                      5     Août/2019     8  2019    5451                Oui
4                      8     Août/2019     8  2019    None               None
..                   ...           ...   ...   ...     ...                ...
82                     5    Avril/2022     4  2022    5482                Oui
83                     8      Mai/2022     5  2022    None               None
84                     5      Mai/2022     5  2022    5446                Oui
85                     8      Mai/2022     5  2022    None               None
86                     5     Juin/2022     6  2022    5504                Oui

[87 rows x 6 columns]

In [ ]:
import random
chaine_test['date du retour de paiement']=None
chaine_test['date']=None
for i in range(len(chaine_test)):
    chaine_test['date'].iloc[i]=int(chaine_test['Jours de prelevement'].iloc[i])+random.randint(0, 20)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
chaine_test

,Jours de prelevement,Calendrier,month,year,contrat,retour de paiement,date du retour de paiement,date
0,5,Juillet/2019,7,2019,None,None,None,25
1,5,Juillet/2019,7,2019,None,None,None,25
2,8,Juillet/2019,7,2019,None,None,None,17
3,5,Août/2019,8,2019,5451,Oui,None,12
4,8,Août/2019,8,2019,None,None,None,19
...,...,...,...,...,...,...,...,...
82,5,Avril/2022,4,2022,5482,Oui,None,11
83,8,Mai/2022,5,2022,None,None,None,20
84,5,Mai/2022,5,2022,5446,Oui,None,19
85,8,Mai/2022,5,2022,None,None,None,8
86,5,Juin/2022,6,2022,5504,Oui,None,6

In [ ]:
chaine_test['date du retour de paiement']=chaine_test['date'].map(str)+'/'+chaine_test['month'].map(str)+'/'+chaine_test['year'].map(str)

In [ ]:
chaine_test

,Jours de prelevement,Calendrier,editmonth,year1,contrat,retour de paiement,date du retour de paiement,date
0,5,Juillet/2019,7,2019,None,None,23/7/2019,23
1,5,Juillet/2019,7,2019,None,None,7/7/2019,7
2,8,Juillet/2019,7,2019,None,None,9/7/2019,9
3,5,Août/2019,8,2019,5451,Oui,17/8/2019,17
4,8,Août/2019,8,2019,None,None,27/8/2019,27
...,...,...,...,...,...,...,...,...
82,5,Avril/2022,4,2022,5482,Oui,16/4/2022,16
83,8,Mai/2022,5,2022,None,None,15/5/2022,15
84,5,Mai/2022,5,2022,5446,Oui,19/5/2022,19
85,8,Mai/2022,5,2022,None,None,9/5/2022,9
86,5,Juin/2022,6,2022,5504,Oui,24/6/2022,24

In [ ]:
for i in range(len(chaine_test)):
  if (chaine_test['contrat'].iloc[i])==None:
    chaine_test['date du retour de paiement'].iloc[i]=None

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
chaine_test

,Jours de prelevement,Calendrier,month,year,contrat,retour de paiement,date du retour de paiement,date
0,5,Juillet/2019,7,2019,None,None,None,25
1,5,Juillet/2019,7,2019,None,None,None,25
2,8,Juillet/2019,7,2019,None,None,None,17
3,5,Août/2019,8,2019,5451,Oui,12/8/2019,12
4,8,Août/2019,8,2019,None,None,None,19
...,...,...,...,...,...,...,...,...
82,5,Avril/2022,4,2022,5482,Oui,11/4/2022,11
83,8,Mai/2022,5,2022,None,None,None,20
84,5,Mai/2022,5,2022,5446,Oui,19/5/2022,19
85,8,Mai/2022,5,2022,None,None,None,8
86,5,Juin/2022,6,2022,5504,Oui,6/6/2022,6

In [ ]:
chaine_test['Raison de retour']=None
for i in range(len(chaine_test)):
  if (chaine_test['contrat'].iloc[i])!=None:
    chaine_test['Raison de retour'].iloc[i]='Account closed'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
test['Contrat']=chaine_test['contrat']
test['retour de paiement']=chaine_test['retour de paiement']
test['date du retour de paiement']=chaine_test['date du retour de paiement']
test['Raison de retour']=chaine_test['Raison de retour']

In [ ]:
test

,Transition,Calendrier,Jours de prelevement,Lancer prelevement?,Contrat,Balance avant,retour de paiement,date du retour de paiement,Raison de retour,Balance apres,Statut dossier,nbr de rejet,Statut contrat,date dernier rejet,date de suspention,date de résiliation,Validité
0,Oui,Juillet/2019,5,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Non,Juillet/2019,5,Non,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Non,Juillet/2019,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oui,Août/2019,5,Oui,5451,NaN,Oui,12/8/2019,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Non,Août/2019,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Non,Avril/2022,5,Non,5482,NaN,Oui,11/4/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Oui,Mai/2022,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Non,Mai/2022,5,Oui,5446,NaN,Oui,19/5/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Non,Mai/2022,8,Non,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Oui,Juin/2022,5,Oui,5504,NaN,Oui,6/6/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test.to_excel('project.xlsx',index=False)

In [ ]:
test

,Transition,Calendrier,Jours de prelevement,Lancer prelevement?,Contrat,Balance avant,retour de paiement,date du retour de paiement,Raison de retour,Balance apres,Statut dossier,nbr de rejet,Statut contrat,date dernier rejet,date de suspention,date de résiliation,Validité
0,Oui,Juillet/2019,5,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Non,Juillet/2019,5,Non,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Non,Juillet/2019,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oui,Août/2019,5,Oui,5451,NaN,Oui,12/8/2019,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Non,Août/2019,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Non,Avril/2022,5,Non,5482,NaN,Oui,11/4/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Oui,Mai/2022,8,Oui,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Non,Mai/2022,5,Oui,5446,NaN,Oui,19/5/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Non,Mai/2022,8,Non,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Oui,Juin/2022,5,Oui,5504,NaN,Oui,6/6/2022,Account closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN